.home-page {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.home-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr.solid {
    border-top: 3px solid #190B28;
    border-radius: 5px;
    margin-bottom: 40px;
}

.loader {
  border: 16px solid #e7e7e7;
  border-top: 16px solid #EFA9AE;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}